name: Security Scan (Bandit + pip-audit)

on:
    pull_request:

    schedule:
        - cron: '0 1 * * *'  # Runs at 1 AM every day.

    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

env:
  PYTHON_VERSION_FILE: .python-version
  # Security: Prevent script injection
  ACTIONS_RUNNER_DEBUG: false
  ACTIONS_STEP_DEBUG: false

permissions:
    contents: read          # Needed for actions/checkout
    checks: write             # Needed if the workflow creates or updates check runs (the “checks” UI — annotations, statuses).
    # pull-requests: write    # Needed to comment on PRs
    # security-events: write  # Needed to upload SARIF to GitHub Code Scanning

jobs:
    bandit:
        name: Security Scan with Bandit
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version-file: ${{ env.PYTHON_VERSION_FILE}}
            
            -   name: Restore uv Cache
                uses: actions/cache@v4
                with:
                    path: /tmp/.uv-cache
                    key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
                    restore-keys: |
                        uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
                        uv-${{ runner.os }}-

            -   name: Install uv (cached)
                uses: astral-sh/setup-uv@v6
                with:
                    enable-cache: true
                    
            -   name: Install dependencies (frozen)
                run: uv sync --dev --locked
                
            -   name: Ensure reports dir
                # python -c "import os; os.makedirs('reports', exist_ok=True)" for cross-platform compatibility  (cross-platform)
                run: mkdir -p reports
                    
            -   name: Run Bandit Security Scan (medium severity + JSON)
                run: uv run bandit -f json -l medium -o reports/bandit_report.json

            -   name: Run Bandit Security Scan (high severity + HTML)
                run: uv run bandit -f html -l all -o reports/bandit_report.html

            -   name: Run Bandit Security Scan (sarif)
                run: uv run bandit -f sarif -l all -o reports/bandit_report.sarif
            
            -   name: Upload Bandit Report
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: bandit-reports(JSON + HTML + SARIF)
                    path: reports/

    pip-audit:
        name: Dependency Vulnerability Scan with Pip-Audit
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            
            -   name: Set up Python
                uses: actions/setup-python@v5
                with:
                    python-version-file: ${{ env.PYTHON_VERSION_FILE}}
            
            -   name: Restore uv Cache
                uses: actions/cache@v4
                with:
                    path: /tmp/.uv-cache
                    key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
                    restore-keys: |
                        uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
                        uv-${{ runner.os }}-

            -   name: Install uv (cached)
                uses: astral-sh/setup-uv@v6
                with:
                    enable-cache: true
                    
            -   name: Install dependencies (locked)
                run: uv sync --dev --locked

            -   name: Ensure reports dir
                run: mkdir -p reports
                    
            -   name: Run pip-audit Dependency Vulnerability Scan with json output
                run: uv run pip-audit -f json -o reports/pip-audit.json

            -   name: Upload pip-audit Report
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: pip-audit-report(JSON)
                    path: reports/
